@model IEnumerable<TaxiBookingServiceUI.Models.StateViewModel>

@{
    ViewData["Title"] = "GetAll";
}

<p>
    <a asp-action="Add">Create New State</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
}
    </tbody>
</table>
